.barra-de-titulo {
  background-color: #222a35;
  height: 4.375rem;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 88vw;
  height: 4.3rem;
}
.imagem {
  width: 100%;
  height: 100%;
}
.logo {
  float: left;
  width: 160px;
  height: 60px;
  padding: 5px;
  margin: 0px;
}
.barra {
  z-index: 0;
  float: left;
  padding: 20px;
  margin-left: 25px;
  width: 500px;
  height: 30px;
  position: relative;
  left: -12rem;
}
#pesquisa {
  padding-left: 20px;
  align-content: center;
  text-align: left;
  outline: none;
  border: none;
  color: white;
  border-bottom: 2px solid #374557;
  font-size: 12pt;
  height: 30px;
  width: 100%;
  background-color: transparent;
  background-image: url("../img/lupa.svg");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 15px 15px;
}
::placeholder {
  color: lightslategrey;
}
.conta {
  width: 7rem;
  height: 4.4rem;
  float: right;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: .5s;
  cursor: pointer;
}
.conta a {
  text-decoration: none;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  width: 100%;
  line-height: 4.5;
}
.conta:hover {
  background-color: mediumturquoise;
  color: rgb(58, 58, 58);
}
.add{
  position: relative;
  right: -4rem;
  top: 1.25rem;
}