/* configurações do corpo da página*/
body {
  background-color: #222a35;
  margin: 0 auto;
  position: relative;
  border: 0px;
}
.cabecalho {
  height: 100px;
  width: 100%;
}
.geral {
  width: 980px;
  height: 550px;
  margin: auto;
  align-content: center;
}
.espaco {
  height: 50px;
  width: 200px;
}
/* configurações do conteúdo */
.logo {
  box-sizing: border-box;
  float: left;
  height: 130px;
  width: 460px;
}
.logo img {
  height: 100%;
  width: 100%;
}
.conteudo {
  display: inline-block;
  margin: 0;
  height: 250px;
  width: 460px;
}
.texto {
  margin-top: 150px;
  height: 120px;
}
.texto p {
  text-align: center;
  font-family: "Segoe UI Light";
  font-weight: lighter;
  color: white;
  font-size: 16pt;
}
/* configurações do formulário */
form {
  display: inline-block;
  font-family: "Segoe UI Light";
  font-size: 18pt;
  block-size: auto;
  width: 390px;
  height: 175px;
}
button {
  font-family: "Nunito Sans", sans-serif;
  background-color: darkslategray;
  color: white;
  font-size: 16pt;
  border: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  height: 40px;
  width: 200px;
}
.botao {
  padding-left: 95px;
  padding-top: 20px;
}
form input {
  outline: none;
  border: 1px solid darkslategray;
  font-size: 12pt;
  height: 40px;
  width: 355px;
  border-radius: 8px;
  padding-left: 10px;
}
::placeholder {
  color: darkslategray;
}
input:focus {
  border-color: rgb(2, 179, 182);
}
.inserts {
  height: fit-content;
  padding-top: 10px;
  padding-left: 10px;
}
.insert2 {
  display: block;
  padding-top: 15px;
}
.linha {
  padding-top: 20px;
  border-bottom: 1px solid darkslategrey;
  display: flex;
  align-items: center;
  margin: 10px 25px;
  width: 340px;
  text-align: center;
}
.form-footer {
  height: fit-content;
}

/* configurações da divisão do formulário */
.formulario {
  margin-right: 20px;
  background-color: white;
  float: right;
  width: 390px;
  height: 350px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  box-shadow: 4px 2px 4px rgba(47, 79, 79, 0.486);
}
a {
  padding-top: 15px;
  display: block;
  align-content: center;
  text-align: center;
  font-family: inherit;
  font-size: 12pt;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.link-butao {
  margin-top: 35px;
  padding-left: 95px;
}
.btnCadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16pt;
  text-decoration: none;
  text-align: center;
  background-color: darkslategray;
  color: white;
  padding: 0px 0px 0px 0px;
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 200px;
}
.btnCadastrar:hover {
  text-decoration: none;
}
/**senha**/
#ver-senha {
  margin: 0;
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  opacity: 0;
  outline: none;
  width: 2.25rem;
  height: 2.25rem;
}
#senha {
  width: 22.1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: -0.075rem;
  left: -0.075rem;
  bottom: -0.075rem;
}
.olho-pai {
  margin-left: 0.125rem;
  position: relative;
  display: inline-block;
  height: 2.5rem;
  width: 22.1rem;
}
.olho {
  position: absolute;
  top: 0.3rem;
  right: -0.5rem;
  bottom: -0.075rem;
  z-index: 6;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  color: #231f20;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 1.2rem;
}
.olho::before{
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.olho:hover{
  background-color: rgb(206, 206, 206);
}
/**senha**/